* {
    /* to make sure that any of the element in page will not get extra margin by default */
    margin: 0; 
    font-family: Arial;
    /* by setting border to border box the size of padding and border will be 
    measured (get included) with total height of element means if we increase the border 
    size then content inside it will get smaller*/
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* amazon logo */
.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
   
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid #fff;
    border-radius: 2px;
}

/* deliver to india */

.add-first{
    color: #cccccc;
    font-size: 0.85 rem;
    margin-left: 15px;
}

.add-sec{
    color: #fff;
    /* font-size: 1 rem; */
    margin-left: 3px;
    font-size: 0.85rem;
    font-weight: 700;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* search bar */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    /* background-color: pink; */
    width: 62%;
    height: 40px;
    border-radius: 4px;
    
}


.nav-search:active{
    border: #de9c47 3.5px solid;
}

.nav-search:hover{
    border: #de9c47 3.5px solid;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    /* outline: none; */
}

.search-input:focus {
    outline-width: 0;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Language choice */
.nav-lang{
    display: flex;
    align-items: baseline;
}

/*sign in option  */ 
.acc-signin{
    display: flex;
    align-items: baseline;
    
}
.down-arrow{
    margin-left: 5px;
    font-size: 10px;
    color: #cccccc;
}
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* cart icon */
.nav-cart i{
    font-size: 30px;
}

.cart {
    font-size: 0.85rem;
    font-weight: 700;

}

/* panel bar */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.panel-all {
    font-size: 0.75;
    font-weight: 700;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 95%;
    font-size: 0.85 rem;
}

/* hero-section  */
.hero-section {
    background-image: url("main_img3.jpg");
    height: 365px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85 rem;
    width: 97%;
    margin-top: 300px;
}

.main-link {
    text-decoration: none;
    color: #007185;
}
.main-link:hover{
    color: brown;
    text-decoration: underline;
}

/* shop section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ffd8c2df;
}

.box {
    border: 2px solid transparent;
    height: 420px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 350px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
      margin-left: 1rem;
      margin-right: 1rem;
}

.box-link {
    font-size: 13px;
    font-weight: 500;
}

.first-hr {
    margin-top: 50px;
}
/* footer */
.back-to-top{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202a2a;
    height: 50px;
}

#btt {
    text-decoration: none;
}

.back-to-top a {
    color: white;
    font-size: 13px;
}

.back-to-top:hover{
    cursor: pointer;
    background-color: #223838;;
}

.back-to-top a:hover{
    text-decoration: none;
}

.footer-links {
    height: 350px;
    background-color: #222f3d;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    padding: 70px 200px 0px 200px;
}

ul a {
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 10px;
    font-weight: normal;
    line-height: 20px;
}

ul a:hover {
    color: white;
    text-decoration: underline;
}

.last-div {
    height: 100px;
    background-color: #222f3d;
    border-top: 0.3px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.copyright {
    height: 40px;
    background-color: #131A22;
}

.cpy1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 570px;
    margin-right: 570px;
    font-size: 12px;

}

.cpy2{
    color: #dddddd;
    font-size: 12px;
    text-align: center;
    margin-top: 3px;
}

.footer-a {
    /* font-size: 12px; */
    color: #dddddd;
    text-decoration: none;
}

.footer-a:hover{
    color: white;
    text-decoration: underline;
}