body{
    background: url("background.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    height: 250px;
    width: 65%;
    border-radius: 30px;
    box-shadow: 0 0 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timer{
    font-size: 72px;
    margin: 0px auto;
    padding: 35px;
}

button{
    background-color: #fff;
    /* border: none; */
    height: 25px;
    width: 30px;
    color: #fff;
    font-size: 16px;
    background-color: gray;
    cursor: pointer;
}

#startStopBtn{
    background-color: green;
    margin-right: 10px;
    text-align: center;
}

#resetBtn{
    background-color: red;
    margin-left: 10px;
    text-align: center;
}

#pauseBtn{
    background-color: orange;
    margin-right: 10px;
    text-align: center;
}

